In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Not Divided

In [2]:
df = pd.read_csv("nose_dataset.csv")

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,947,948,949,950,951,952,953,954,955,y
0,0.0699,0.0,0.0192,0.1102,0.0301,0.0736,0.1848,0.2832,0.2666,0.3077,...,0.2842,0.3166,0.3095,0.2761,0.2886,0.3025,0.3088,0.2770,0.2699,0.0
1,0.0728,0.0,0.0151,0.0931,0.0249,0.0621,0.1573,0.2320,0.2209,0.2534,...,0.2409,0.2679,0.2621,0.2341,0.2633,0.2773,0.2794,0.2509,0.2480,0.0
2,0.1262,0.0,0.0474,0.1013,0.0291,0.0652,0.1574,0.3216,0.2248,0.2597,...,0.2858,0.3187,0.3225,0.2886,0.2860,0.2872,0.3019,0.2868,0.2715,0.0
3,0.1193,0.0,0.0355,0.1073,0.0336,0.0766,0.1808,0.2385,0.2530,0.2943,...,0.2979,0.3208,0.3095,0.2859,0.2934,0.3032,0.3101,0.2849,0.2770,0.0
4,0.1567,0.0,0.0276,0.1220,0.0330,0.0805,0.2044,0.3444,0.2885,0.3328,...,0.3622,0.3974,0.3932,0.3579,0.3260,0.3444,0.3522,0.3111,0.3011,0.0

In [4]:
target = df['y']
df.drop('y', axis = 1, inplace=True)

In [5]:
target

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
28987    7.0
28988    7.0
28989    7.0
28990    7.0
28991    7.0
Name: y, Length: 28992, dtype: float64

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,946,947,948,949,950,951,952,953,954,955
0,0.0699,0.0,0.0192,0.1102,0.0301,0.0736,0.1848,0.2832,0.2666,0.3077,...,0.2957,0.2842,0.3166,0.3095,0.2761,0.2886,0.3025,0.3088,0.2770,0.2699
1,0.0728,0.0,0.0151,0.0931,0.0249,0.0621,0.1573,0.2320,0.2209,0.2534,...,0.2504,0.2409,0.2679,0.2621,0.2341,0.2633,0.2773,0.2794,0.2509,0.2480
2,0.1262,0.0,0.0474,0.1013,0.0291,0.0652,0.1574,0.3216,0.2248,0.2597,...,0.3030,0.2858,0.3187,0.3225,0.2886,0.2860,0.2872,0.3019,0.2868,0.2715
3,0.1193,0.0,0.0355,0.1073,0.0336,0.0766,0.1808,0.2385,0.2530,0.2943,...,0.3026,0.2979,0.3208,0.3095,0.2859,0.2934,0.3032,0.3101,0.2849,0.2770
4,0.1567,0.0,0.0276,0.1220,0.0330,0.0805,0.2044,0.3444,0.2885,0.3328,...,0.3770,0.3622,0.3974,0.3932,0.3579,0.3260,0.3444,0.3522,0.3111,0.3011

In [7]:
train_img, test_img, train_lbl, test_lbl = train_test_split(df, target, test_size=1/7.0, random_state=0)

In [8]:
scaler = StandardScaler()

In [9]:
scaler.fit(train_img)

StandardScaler()

In [10]:
train_img = scaler.transform(train_img)
test_img = scaler.transform(test_img)

In [11]:
train_img

array([[-0.26115973,  0.        , -0.79213832, ...,  0.31329506,
         0.21672887,  0.26324817],
       [-0.07200444,  0.        , -0.37972267, ...,  1.14010965,
         1.19529263,  1.11875371],
       [-1.51646308,  0.        , -0.59072603, ..., -0.88581451,
        -0.85079523, -0.71043532],
       ...,
       [-1.08226569,  0.        , -1.03191486, ...,  0.68559003,
         0.62594644,  0.62292017],
       [-0.72545001,  0.        , -0.76336514, ...,  0.02779278,
        -0.06794422,  0.02432319],
       [ 0.78349339,  0.        ,  0.65611198, ...,  0.66731788,
         0.77844989,  0.76421988]])

# Divided

In [2]:
train_img = pd.read_csv('csv/MediaPipe/train_nose_955_standard.csv')
test_img = pd.read_csv('csv/MediaPipe/test_nose_955_standard.csv')

# PCA

In [17]:
from sklearn.decomposition import PCA

In [18]:
pca = PCA(1)

In [19]:
pca.fit(train_img)

PCA(n_components=1)

In [20]:
pcaed = pca.transform(train_img)

In [21]:
pcaed[0].shape

(1,)

In [16]:
train_img.shape

(24850, 957)

In [15]:
train_img = pca.transform(train_img)
test_img = pca.transform(test_img)

In [16]:
train_img[0]

array([ 3.25074787, 11.44396853, -9.09311169, -0.6526539 ,  1.79076144])

In [17]:
len(train_img[0])

5

In [18]:
train_img.shape

(24850, 5)

In [19]:
test_img.shape

(4142, 5)

In [20]:
train_lbl

69       0.0
6155     2.0
13767    4.0
14811    4.0
16286    4.0
        ...
13123    4.0
19648    5.0
9845     3.0
10799    3.0
2732     0.0
Name: y, Length: 24850, dtype: float64

In [21]:
train_df = pd.DataFrame(train_img, columns = [f"V{i}" for i in range(len(train_img[0]))])

test_df = pd.DataFrame(test_img, columns = [f"V{i}" for i in range(len(train_img[0]))])

In [22]:
y_train_df = pd.DataFrame(train_lbl, columns = ['y'])

y_test_df = pd.DataFrame(test_lbl, columns = ['y'])

In [23]:
y_train_df = y_train_df.reset_index().drop('index', axis=1)

In [24]:
y_test_df = y_test_df.reset_index().drop('index', axis=1)

In [25]:
y_train_df

         y
0      0.0
1      2.0
2      4.0
3      4.0
4      4.0
...    ...
24845  4.0
24846  5.0
24847  3.0
24848  3.0
24849  0.0

[24850 rows x 1 columns]

In [26]:
train_df['y'] = y_train_df
test_df['y'] = y_test_df

In [27]:
train_df

              V0         V1         V2         V3        V4    y
0       3.250748  11.443969  -9.093112  -0.652654  1.790761  0.0
1      28.640700  -2.453194   2.957053  -6.330356  2.412961  2.0
2     -22.391507   5.702938   2.449014  -2.337767  1.534812  4.0
3     -18.073128  -8.680533   5.779541  -0.602513  6.779829  4.0
4     -24.104444   7.460157  -8.436581  -4.019202  0.491702  4.0
...          ...        ...        ...        ...       ...  ...
24845 -23.105466  -9.461190  -4.731152  -1.381749  0.936340  4.0
24846  -7.875224  14.754650 -14.141473  -1.102272 -3.240894  5.0
24847  17.111015   0.000303  -5.477772 -12.507027 -0.996209  3.0
24848  -1.468126  -2.079187 -12.296649   4.419347 -4.985623  3.0
24849  19.307853   9.519215  14.679247  -4.130611  1.660843  0.0

[24850 rows x 6 columns]

In [28]:
test_df

             V0         V1         V2        V3         V4    y
0     -9.053081 -15.759925  -5.515679 -2.270218   5.371624  4.0
1    -15.353751   0.256025   0.058138  4.109304  -3.821126  6.0
2     -3.301410  -0.113793  -3.775672 -2.178907   0.327435  7.0
3      5.714129   0.165906  11.094639  8.467197   3.765495  1.0
4    -35.920875  -4.319074   3.536347  1.843615   1.710551  5.0
...         ...        ...        ...       ...        ...  ...
4137  -0.462197   0.939488  -7.267017  4.627385  -4.737989  6.0
4138  -6.215011  -3.240570   2.813168  5.360504  -6.326007  7.0
4139  17.128262  30.601317   7.718001  1.128658 -11.130186  6.0
4140   6.416849 -14.261911  -2.258486  1.560405   1.114416  7.0
4141  -7.820541  -5.189539  11.265514  5.904134   3.518696  1.0

[4142 rows x 6 columns]

In [29]:
test_df.isna().sum()

V0    0
V1    0
V2    0
V3    0
V4    0
y     0
dtype: int64

In [30]:
import pickle as pk

In [31]:
pk.dump(pca, open("pca.pkl","wb"))

In [32]:
pk.dump(scaler, open("scaler.pkl","wb"))

In [33]:
train_df.to_csv(f'train_nose.csv', index=False)

In [34]:
test_df.to_csv(f'test_nose.csv', index=False)